Laba/.vs
Laba/.vscode
Laba/html
Laba/packages
Laba/TestResults
Laba/x64
Laba/Laba.sln
Laba/LastCoverageResults.log
Laba/Laba/doxygen_log.txt
Laba/Laba/Laba.vcxproj
Laba/Laba/Laba.vcxproj.filters
Laba/Laba/Laba.vcxproj.user
Laba/Laba/packages.config

Laba2/.vs
Laba2/packages
Laba2/TestResults
Laba2/x64
Laba2/Laba2.sln
Laba2/testEnvironments.json
Laba/html
Laba/Laba/rtf
Laba/Laba/x64
Laba2/Laba2/x64
Laba2/Laba2/Laba2.vcxproj
Laba2/Laba2/Laba2.vcxproj.filters
Laba2/Laba2/Laba2.vcxproj.user
Laba2/Laba2/packages.config

Laba3/.vs
Laba3/html
Laba3/packages
Laba3/TestResults
Laba3/x64
Laba3/Laba.sln
Laba3/Laba3/html
Laba3/Laba3/x64
Laba3/Laba2/Laba3.vcxproj
Laba3/Laba2/Laba3.vcxproj.filters
Laba3/Laba2/Laba3.vcxproj.user
Laba3/Laba2/packages.config